@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  overflow: hidden;
}

.game-container {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 500px;
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 500px;
    width: 500px;
    height: 730px;
    background-image: url('sky.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loadingScreen h1 {
    font-size: 40px;
    color: black;
}

#playButton {
    font-size: 20px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#gameScreen {
    text-align: center;
}

#score, #bestScore {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.border-left {
    width: 80px;
    height: 790px;
    position:  absolute;
    left:450px;
    background-color: white;
    z-index: +2;
}

.border-right {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;
    left: 450px;
}

.border-top {
    width: 660px;
    height: 50px;
    position:  absolute;
    background-color: white;
    z-index: +2;
    top: -50px;
}

.sky {
    background-image: url('sky.png');
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    background-image: url('bottom-background.png');
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
    
}

.bird {
    background-image: url('flappy-bird.png');
    position: absolute;
    width: 60px;
    height: 45px;
    left: 220px;
    bottom: 500px;
}

.obstacle {
    background-image: url('flappybird-pipe.png');
    width: 60px;
    height: 300px;
    position: absolute;
}

.topObstacle {
    background-image: url('flappybird-pipe.png');
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}

.ground-container {
    height: 150px;
    width: 580px;
    left: 80px;
    position:  absolute;
}

.ground-moving {
  position: absolute;
  top: 580px;
  height: 150px;
  background-image: url('bottom-background.png');
  background-repeat: repeat-x;
  animation: slideright 100s infinite linear;
  -webkit-animation: slideright 100s infinite linear;
  width: 90%;
  z-index: +1;
  left:400px;
}

#gameOverScreen {
    display: none;
    position: absolute;
    top: 50%;
    left: 40%;
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  
  #gameOverScreen h2 {
    margin-bottom: 10px;
  }
  
  #gameOverScreen #finalScore {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #gameOverScreen #restartButton {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #gameOverScreen #restartButton:hover {
    background-color: #45a049;
  }
  

@keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
  }
  
  @-webkit-keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
  }



